include LICENSE
include README.md
recursive-include oss_dashboard/templates *.html
recursive-include oss_dashboard *.json *.yml *.parquet
exclude .pre-commit-config.yaml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *
