/*-- scss:defaults --*/
.dtcc-button-icon {
    --dtcc-button-icon_color: #FFFFFF;
}

/*-- scss:rules --*/
body.quarto-dark .nav-tabs .nav-link {
    color: #FFFFFF;
}

body.quarto-dark {
    --dt-html-background: #1E1E1E;
    --itables-dark-color: #FFFFFF;
    --dtfc_background: #1E1E1E;
    --dtfc-thead-cell_background: #1E1E1E;
    --dtfc-tbody-cell_background: #1E1E1E;
}
